<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results</title>
    <link rel="stylesheet" href="./results.css" type="text/css">
    <link rel="stylesheet" href="./classes.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <header id="navbar">
            <a href="./index.html"><img src= "./SmLogo.svg" id="smallLogo"></a>
            <form action="/searches" method="GET">
                <input type="text" name="searchBar" id="searchBar">
                <button id="search" type="submit" name="submit" value="search">S</button>
                <button id="quickSearch" type="submit" name="submit" value="quickSearch">QS</button>
            </form>
        </header>
        <main>
            <% arr.forEach(array =>{ %>
                <div class="results">
                    <p class="title"> <%= array.name %> </p>
                    <a href="<%= array.url %>"> <%= array.url %> </a>
                    <p> <%= array.snippet %> </p>
                </div>
            <% }) %>
        </main>
    </div>
</body>
</html>