body{
    height: 100%;
    background-color: rgb(195, 225, 236);
}   

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 30% 10%;
}

textarea{
    border-color: black;
    border-radius: 5px;
    margin: 3% 0%;
}

#logo{
    font-size: 50px;
}

button{
    margin: 0%;
    padding: 2px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttonContainer{
    display: flex;
    justify-content: space-around;
}